<!-- <div class="container">
  <h1><a style="text-decoration: none; color: #f1c40f; margin-left: 0.25rem;" href="" onclick="location.reload();">CALCULATOR</a><img id="historybutton" src="history.png"></h1 >
  <div class="calculator">
    <input type="text" name="screen" id="answer" [(ngModel)]="Answer" readonly>
    {{val}}
    <table>
      <tr>
        <td><button>(</button></td>
        <td><button>)</button></td>
        <td><button style="background-color: #f01600; font-weight: bold; color: #ecf0f1;">C</button></td>
        <td><button (click)="enteredValue('%')">%</button></td>
      </tr>
      <tr>
        <td><button (click)="enteredValue(7)">7</button></td>
        <td><button (click)="enteredValue(8)">8</button></td>
        <td><button (click)="enteredValue(9)">9</button></td>
        <td><button (click)="enteredValue('*')">X</button></td>
      </tr>
      <tr>
        <td><button (click)="enteredValue(4)">4</button></td>
        <td><button (click)="enteredValue(5)">5</button></td>
        <td><button (click)="enteredValue(6)">6</button></td>
        <td><button (click)="enteredValue('-')">-</button></td>
      </tr>
      <tr>
        <td><button (click)="enteredValue(1)">1</button></td>
        <td><button (click)="enteredValue(2)">2</button></td>
        <td><button (click)="enteredValue(3)">3</button></td>
        <td><button (click)="enteredValue('+')">+</button></td>
      </tr>
      <tr>
        <td><button (click)="enteredValue(0)">0</button></td>
        <td><button style="font-weight: bold;">.</button></td>
        <td><button>/</button></td>
        <td><button (click)="equalTo()"  style="background-color: #25db72; font-weight: bold; color: #ecf0f1;">=</button></td>
      </tr>
    </table>
    <hr style="max-width: 50vw;">
    <div style="font-size:1rem; display: flex; align-items: center; justify-content: center;">Made with <img style="margin: 0.15rem;" src="heart.png">by<a style="text-decoration: none; color: #f1c40f; margin-left: 0.25rem;"
              target="_blank" href="https://harsh98trivedi.github.io">Harsh Trivedi</a></div>
  </div>
</div>
<div id="bar1" class = "bars"></div>
<div id="bar2" class = "bars"></div>
<div id="history">
</div>
  <div id="turn">
  PLEASE TURN YOUR DEVICE
</div> -->

<router-outlet></router-outlet>
